Repository cod3rocket/iTourism: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, pnpm prettier --write, prisma format --schema=, flutter format

chore: add turborepo - initial pipelines
  package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm prettier --write

chore: add required node and pnpm version
  .nvmrc
  package.json
Due: pnpm prettier --write

chore: add script to force use pnpm
  package.json
Due: pnpm prettier --write

chore(web): setup project
  apps/.gitkeep
  apps/web/.gitignore
  apps/web/README.md
  apps/web/next.config.js
  apps/web/package.json
  apps/web/public/favicon.ico
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/index.tsx
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix --cache, pnpm prettier --write

chore: add eslint cache to .gitignore
  .gitignore
Due: none

chore(web): add setup chakra
  apps/web/package.json
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  pnpm-lock.yaml
Due: eslint --fix --cache, pnpm prettier --write

feat(web): add work in progess land page
  apps/web/package.json
  apps/web/src/pages/index.tsx
  pnpm-lock.yaml
Due: eslint --fix --cache, pnpm prettier --write

chore: change version to 0.0.1
  apps/web/package.json
  package.json
Due: pnpm prettier --write

chore(api): nest initial setup
  apps/api/.gitignore
  apps/api/.prettierrc
  apps/api/nest-cli.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore(api): removing authors and jest tests
  apps/api/package.json
Due: pnpm prettier --write

chore(api): update ts config
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
Due: pnpm prettier --write

chore(api): update ts config
  apps/api/tsconfig.json
Due: pnpm prettier --write

chore(api): atualizing readme
  apps/api/README.md
Due: none

chore(api): create first route module to setup
  apps/api/src/main.ts
  apps/api/src/modules/app/app.controller.ts
  apps/api/src/modules/app/app.module.ts
  apps/api/src/modules/app/app.service.ts
Due: eslint --fix --cache

chore(api): remove eslint and prettier
  apps/api/.prettierrc
  apps/api/package.json
Due: pnpm prettier --write

chore: resolve pnpm-lock.yml
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: use cod3rocket eslint config
  .eslintrc
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: setup flutter monorepo
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  melos.yaml
Due: pnpm prettier --write

chore: add branding logo asset
  assets/branding/cod3rocket_logo.png
Due: none

chore: update readme
  README.md
Due: none

chore: fix readme badges align and add releases link
  README.md
Due: none

feat: create tsconfig bases
  packages/tsconfig/base.json
  packages/tsconfig/library-react.json
  packages/tsconfig/library.json
  packages/tsconfig/nest.json
  packages/tsconfig/next.json
  packages/tsconfig/package.json
Due: pnpm prettier --write

chore: base tsconfig to monorepo root
  package.json
Due: pnpm prettier --write

chore: implement tsconfig to monorepo
  apps/api/package.json
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm prettier --write

fix(deps): change local packages versions to *
  apps/api/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: add .npmrc config to auto install peers
  .npmrc
Due: none

chore: add tsup
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: add tsup global config
  tsup.config.json
Due: pnpm prettier --write

build(api): config app bundler
  apps/api/package.json
  apps/api/tsconfig.json
  apps/api/tsup.config.json
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: add docker-compose.dev.yml
  docker-compose.dev.yml
Due: pnpm prettier --write

chore: just config file
  .vscode/extensions.json
  justfile
  package.json
Due: pnpm prettier --write

chore: change vscode config to add missing icons
  .vscode/settings.json
Due: pnpm prettier --write

chore: remove .gitkeep in packages folder
  packages/.gitkeep
Due: none

fix: tsconfig workspaces
  apps/api/package.json
  apps/api/tsconfig.json
  apps/web/package.json
  package.json
Due: pnpm prettier --write

fix: auto install peer dependencies
  apps/api/.npmrc
Due: none

chore: tsup setup
  apps/api/tsup.config.json
  package.json
  pnpm-lock.yaml
  tsup.config.json
Due: pnpm prettier --write

chore: justfile api setup
  apps/api/justfile
  apps/api/package.json
Due: pnpm prettier --write

fix: moving .npmrc to root folder
  .npmrc
Due: none

Revert "Feat/api buildsystem"
  .npmrc
  apps/api/justfile
  apps/api/package.json
  apps/api/tsconfig.json
  apps/api/tsup.config.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
  tsup.config.json
Due: pnpm prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{js,ts,tsx}
  pnpm prettier --write: any of: *.{json,yml,yaml}
  prisma format --schema=: any of: *.prisma
  flutter format: any of: *.dart
