Repository cod3rocket/iTourism: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, pnpm prettier --write, pnpm --filter @itourism/api prisma format --schema=, flutter format

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --fix --cache"
  ],
  "*.{json,yml,yaml}": [
    "pnpm prettier --write"
  ],
  "*.prisma": [
    "pnpm --filter @itourism/api prisma format --schema="
  ],
  "*.dart": [
    "flutter format"
  ]
}

fix(mobile): change lat and lng type - int to double
  apps/mobile/lib/modules/attractions/models/attraction_model.dart
  apps/mobile/lib/modules/attractions/models/attraction_model.g.dart
Due: flutter format

feat(mobile): create attraction page
  apps/mobile/lib/modules/attractions/pages/attraction_page.dart
  apps/mobile/lib/modules/attractions/repositories/attractions_repository.dart
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write, flutter format

fix(mobile): add attractions controller generated by build runner
  apps/mobile/lib/modules/attractions/controllers/attractions_controller.g.dart
Due: flutter format

fix(mobile): remove arrow function and add identention
  apps/mobile/lib/modules/attractions/pages/attractions_page.dart
  apps/mobile/lib/modules/maps/components/maps_component.dart
Due: flutter format

chore(mobile): add cached network image
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write

feat(mobile): start event page
  apps/mobile/lib/modules/events/events_module.dart
  apps/mobile/lib/modules/events/pages/event_page.dart
  apps/mobile/lib/modules/events/pages/events_page.dart
Due: flutter format

chore(mobile): add border radius to map component
  apps/mobile/lib/modules/maps/components/maps_component.dart
Due: flutter format

chore(mobile): add public utility module to app
  apps/mobile/lib/modules/app/app_module.dart
  apps/mobile/lib/modules/public_utility/public_utility_module.dart
  apps/mobile/lib/modules/public_utility/public_utility_page.dart
Due: flutter format

chore(mobile): public utility model
  apps/mobile/lib/modules/public_utility/models/public_utility_model.dart
  apps/mobile/lib/modules/public_utility/models/public_utility_model.g.dart
Due: flutter format

chore(mobile): public utility repository
  apps/mobile/lib/modules/public_utility/repositories/public_utility_repository.dart
Due: flutter format

chore(mobile): public utility controller
  apps/mobile/lib/modules/public_utility/controllers/public_utility_controller.dart
  apps/mobile/lib/modules/public_utility/controllers/public_utility_controller.g.dart
Due: flutter format

feat(mobile): create public utility card list
  apps/mobile/lib/modules/public_utility/components/public_utility_card.dart
Due: flutter format

feat(mobile): create public utility page
  apps/mobile/lib/modules/public_utility/pages/public_utility_page.dart
Due: flutter format

feat(mobile): complete event page
  apps/mobile/lib/modules/events/pages/event_page.dart
Due: flutter format

feat(mobile): use material 3 bottom navegation
  apps/mobile/lib/modules/home/pages/home_page.dart
Due: flutter format

feat(mobile): add hero animation and remove un used controllers in attraction page
  apps/mobile/lib/modules/attractions/pages/attraction_page.dart
  apps/mobile/lib/modules/attractions/pages/attractions_page.dart
Due: flutter format

style(mobile): use material text style in attraction page
  apps/mobile/lib/modules/attractions/pages/attraction_page.dart
Due: flutter format

fix(mobile): page indicator in attraction page
  apps/mobile/lib/modules/attractions/pages/attraction_page.dart
Due: flutter format

feat(mobile): add url_launcher
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write

feat(mobile): add map markers
  apps/mobile/lib/modules/attractions/pages/attraction_page.dart
  apps/mobile/lib/modules/maps/pages/map_page.dart
Due: flutter format

feat(mobile): add open in google maps
  apps/mobile/lib/modules/maps/controllers/map_controller.dart
  apps/mobile/lib/modules/maps/pages/map_page.dart
Due: flutter format

feat(mobile): add map markers in public utility
  apps/mobile/lib/modules/public_utility/components/public_utility_card.dart
  apps/mobile/lib/modules/public_utility/pages/public_utility_page.dart
Due: flutter format

chore: create initial header with active link status
  apps/web/src/components/Header/ActiveLink.tsx
  apps/web/src/components/Header/index.tsx
Due: eslint --fix --cache

feat(mobile): open telephone in public utility page
  apps/mobile/lib/modules/public_utility/components/public_utility_card.dart
  apps/mobile/lib/modules/public_utility/models/public_utility_model.dart
  apps/mobile/lib/modules/public_utility/models/public_utility_model.g.dart
  apps/mobile/lib/modules/public_utility/pages/public_utility_page.dart
  apps/mobile/lib/modules/public_utility/repositories/public_utility_repository.dart
Due: flutter format

chore(mobile): add localization lib
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write

feat(mobile): setup localization delegate
  apps/mobile/lib/config/i18n.dart
  apps/mobile/lib/i18n/en_US.json
  apps/mobile/lib/i18n/pt_BR.json
  apps/mobile/lib/modules/app/components/app_widget.dart
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write, flutter format

feat(mobile): add i18n to home module
  apps/mobile/lib/config/i18n.dart
  apps/mobile/lib/i18n/en_US.json
  apps/mobile/lib/i18n/pt_BR.json
  apps/mobile/lib/modules/home/pages/home_page.dart
Due: pnpm prettier --write, flutter format

feat(mobile): add i18n to attractions module
  apps/mobile/lib/config/i18n.dart
  apps/mobile/lib/i18n/en_US.json
  apps/mobile/lib/i18n/pt_BR.json
  apps/mobile/lib/modules/attractions/pages/attraction_page.dart
  apps/mobile/lib/modules/attractions/pages/attractions_page.dart
Due: pnpm prettier --write, flutter format

feat(mobile): add i18n to events module
  apps/mobile/lib/config/i18n.dart
  apps/mobile/lib/i18n/en_US.json
  apps/mobile/lib/i18n/pt_BR.json
  apps/mobile/lib/modules/events/pages/event_page.dart
  apps/mobile/lib/modules/events/pages/events_page.dart
Due: pnpm prettier --write, flutter format

feat(mobile): add i18n to public utility module
  apps/mobile/lib/config/i18n.dart
  apps/mobile/lib/i18n/en_US.json
  apps/mobile/lib/i18n/pt_BR.json
  apps/mobile/lib/modules/public_utility/pages/public_utility_page.dart
Due: pnpm prettier --write, flutter format

feat(web): create footer component
  apps/web/src/components/Footer/index.tsx
Due: eslint --fix --cache

feat(web): split nav item from index header component
  apps/web/src/components/Header/ActiveLink.tsx
  apps/web/src/components/Header/NavLink.tsx
Due: eslint --fix --cache

fix(web): remove useless color mode script from document
  apps/web/src/pages/_document.tsx
Due: eslint --fix --cache

chore(web): add initials assets examples
  apps/web/public/assets/circle.svg
  apps/web/public/assets/example1.jpeg
  apps/web/public/assets/example1.png
  apps/web/public/assets/example2.jpg
  apps/web/public/assets/example3.png
  apps/web/public/assets/example4.png
  apps/web/public/assets/example7.png
  apps/web/public/assets/logo.png
Due: none

chore(web): modify footer primary language
  apps/web/src/components/Footer/index.tsx
Due: eslint --fix --cache

fix(web): modify header primary color
  apps/web/src/components/Header/NavLink.tsx
  apps/web/src/components/Header/index.tsx
Due: eslint --fix --cache

feat(web): initial form for landing page
  apps/web/src/pages/index.tsx
Due: eslint --fix --cache

feat(mobile): add select attraction type component
  apps/mobile/lib/config/i18n.dart
  apps/mobile/lib/i18n/en_US.json
  apps/mobile/lib/i18n/pt_BR.json
  apps/mobile/lib/modules/attractions/components/select_attraction_type.dart
Due: pnpm prettier --write, flutter format

feat(mobile): add filter attractions
  apps/mobile/lib/modules/attractions/controllers/attractions_controller.dart
  apps/mobile/lib/modules/attractions/controllers/attractions_controller.g.dart
  apps/mobile/lib/modules/attractions/models/attraction_model.dart
  apps/mobile/lib/modules/attractions/models/attraction_model.g.dart
  apps/mobile/lib/modules/attractions/pages/attractions_page.dart
Due: flutter format

fix(web): gap in landingng page
  apps/web/src/pages/index.tsx
Due: eslint --fix --cache
