Repository cod3rocket/iTourism: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, pnpm prettier --write, prisma format --schema=, flutter format

feat: create tsconfig bases
  packages/tsconfig/base.json
  packages/tsconfig/library-react.json
  packages/tsconfig/library.json
  packages/tsconfig/nest.json
  packages/tsconfig/next.json
  packages/tsconfig/package.json
Due: pnpm prettier --write

chore: justfile api setup
  apps/api/justfile
  apps/api/package.json
Due: pnpm prettier --write

chore: just config file
  .vscode/extensions.json
  justfile
  package.json
Due: pnpm prettier --write

chore: remove .gitkeep in packages folder
  packages/.gitkeep
Due: none

chore: add docker-compose.dev.yml
  docker-compose.dev.yml
Due: pnpm prettier --write

chore: base tsconfig to monorepo root
  package.json
Due: pnpm prettier --write

fix: moving .npmrc to root folder
  .npmrc
Due: none

chore: tsup setup
  apps/api/tsup.config.json
  package.json
  pnpm-lock.yaml
  tsup.config.json
Due: pnpm prettier --write

fix: tsconfig workspaces
  apps/api/package.json
  apps/api/tsconfig.json
  apps/web/package.json
  package.json
Due: pnpm prettier --write

chore: change vscode config to add missing icons
  .vscode/settings.json
Due: pnpm prettier --write

chore: implement tsconfig to monorepo
  apps/api/package.json
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm prettier --write

fix: auto install peer dependencies
  apps/api/.npmrc
Due: none

chore: auto install peer dependencies
  .npmrc
Due: none

chore: tsup setup
  .tsup.config.json
  apps/api/.tsup.config.json
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

fix: remove . from tsup config files
  apps/api/tsup.config.json
  tsup.config.json
Due: pnpm prettier --write

fix: scripts from justfile
  apps/api/package.json
Due: pnpm prettier --write

chore(api): remove app service and controller
  apps/api/src/modules/app/app.controller.ts
  apps/api/src/modules/app/app.module.ts
  apps/api/src/modules/app/app.service.ts
Due: eslint --fix --cache

chore(api): add out dir in tsconfig
  apps/api/tsconfig.json
Due: pnpm prettier --write

chore(api): setup @nestjs/config
  apps/api/package.json
  apps/api/src/config/app.config.ts
  apps/api/src/config/index.ts
  apps/api/src/infra/config/config.module.ts
  apps/api/src/main.ts
  apps/api/src/modules/app/app.module.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, pnpm prettier --write

chore: add turbo bootstrap pipeline
  turbo.json
Due: pnpm prettier --write

feat(api): add setup prisma client
  apps/api/.env.example
  apps/api/justfile
  apps/api/package.json
  apps/api/prisma/schema.prisma
  apps/api/src/config/index.ts
  apps/api/src/config/prisma.config.ts
  apps/api/src/infra/prisma/prisma.module.ts
  apps/api/src/infra/prisma/prisma.service.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, pnpm prettier --write, prisma format --schema=

chore(api): init migration
  apps/api/prisma/migrations/20220824103248_init/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/prisma/schema.prisma
Due: prisma format --schema=

fix: lint-staged prisma format command
  .lintstagedrc
Due: none

chore: create nestjs package
  packages/nestjs/lib/index.ts
  packages/nestjs/package.json
  packages/nestjs/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix --cache, pnpm prettier --write

feat(nestjs): add base model and serialize collection method
  packages/nestjs/lib/index.ts
  packages/nestjs/lib/models/base.model.ts
  packages/nestjs/lib/models/index.ts
  packages/nestjs/lib/utils/index.ts
  packages/nestjs/lib/utils/serialize-collection.ts
Due: eslint --fix --cache

chore: add production ignored files
  .gitignore
Due: none

feat(nestjs): add paginator decorator
  packages/nestjs/lib/decorators/index.ts
  packages/nestjs/lib/decorators/paginator/index.ts
  packages/nestjs/lib/decorators/paginator/paginator.decorator.ts
  packages/nestjs/lib/decorators/paginator/paginator.types.ts
  packages/nestjs/lib/index.ts
Due: eslint --fix --cache

chore: add icon to nestjs package
  .vscode/settings.json
Due: pnpm prettier --write

fix(api): prisma generate command
  apps/api/package.json
Due: pnpm prettier --write

chore(api): add NODE_ENV in example env file
  apps/api/.env.example
Due: none

feat(api): add events and city seed
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/api/prisma/seeds.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix --cache, pnpm prettier --write

chore(api): fix city relation with events
  apps/api/prisma/schema.prisma
Due: prisma format --schema=

chore(api): add @itourism/nestjs
  apps/api/package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

feat(api): add find all events method
  apps/api/src/models/event.ts
  apps/api/src/modules/app/app.module.ts
  apps/api/src/modules/events/events.controller.ts
  apps/api/src/modules/events/events.module.ts
  apps/api/src/modules/events/events.service.ts
Due: eslint --fix --cache

feat(api): add global serializer
  apps/api/package.json
  apps/api/src/main.ts
  apps/api/src/modules/app/app.interceptors.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, pnpm prettier --write

feat(api): add find all events by city id method
  apps/api/src/models/event.model.ts
  apps/api/src/modules/events/events.controller.ts
  apps/api/src/modules/events/events.service.ts
Due: eslint --fix --cache

feat(api): add latitude and longitude for database
  apps/api/prisma/migrations/20220825162016_add_geographic_coordinates_for_cities/migration.sql
  apps/api/prisma/migrations/20220825162323_add_geographic_coordinates_for_attraction/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/prisma/seeds.json
Due: eslint --fix --cache, pnpm prettier --write, prisma format --schema=

chore: add how to use in readme
  README.md
Due: none

Path conditions:
  eslint --fix --cache: any of: *.{js,ts,tsx}
  pnpm prettier --write: any of: *.{json,yml,yaml}
  prisma format --schema=: any of: *.prisma
  flutter format: any of: *.dart
