Repository cod3rocket/iTourism: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, pnpm prettier --write, pnpm --filter @itourism/api prisma format --schema=, flutter format

chore: remove .g.dart files from vscode indexes
  .vscode/settings.json
Due: pnpm prettier --write

chore: add json serializer for normalize jsons to map
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write

chore(mobile): add json_annotation
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write

chore: add flutter ignore files
  .gitignore
Due: none

chore(starbase): add cached_network_image
  packages/starbase/pubspec.yaml
Due: pnpm prettier --write

feat(starbase): add image card component
  packages/starbase/lib/components/image_card/image_card.dart
  packages/starbase/lib/components/main.dart
  packages/starbase/lib/starbase.dart
Due: flutter format

feat(mobile): add view events page
  apps/mobile/lib/modules/events/controllers/events_controller.dart
  apps/mobile/lib/modules/events/controllers/events_controller.g.dart
  apps/mobile/lib/modules/events/events_module.dart
  apps/mobile/lib/modules/events/events_page.dart
  apps/mobile/lib/modules/events/models/event_model.dart
  apps/mobile/lib/modules/events/models/event_model.g.dart
  apps/mobile/lib/modules/events/pages/event_page.dart
  apps/mobile/lib/modules/events/pages/events_page.dart
  apps/mobile/lib/modules/events/repositories/event_repository.dart
Due: flutter format

chore(mobile): create carousel card view for touristic attractions
  apps/mobile/lib/modules/attractions/models/attraction_model.dart
  apps/mobile/lib/modules/attractions/models/attraction_model.g.dart
  packages/starbase/lib/components/carousel_card/carousel_card.dart
Due: flutter format

chore(mobile): create list card view
  packages/starbase/lib/components/list_card/list_card.dart
Due: flutter format

chore(mobile): export all components from starbase
  packages/starbase/lib/components/main.dart
Due: flutter format

chore(mobile): create attractions controller
  apps/mobile/lib/modules/attractions/controllers/attractions_controller.dart
  apps/mobile/lib/modules/attractions/controllers/attractions_controller.g.dart
Due: flutter format

chore(mobile): create attractions repository
  apps/mobile/lib/modules/attractions/repositories/attraction_repository.dart
Due: flutter format

chore(mobile): create attractions page
  apps/mobile/lib/modules/attractions/attractions_page.dart
  apps/mobile/lib/modules/attractions/pages/attractions_page.dart
Due: flutter format

chore(mobile): single page attraction by id - wip
  apps/mobile/lib/modules/attractions/pages/attraction_page.dart
Due: flutter format

chore(mobile): update attractions module
  apps/mobile/lib/modules/attractions/attractions_module.dart
Due: flutter format

fix(mobile): update to absolute imports in events module
  apps/mobile/lib/modules/events/controllers/events_controller.dart
  apps/mobile/lib/modules/events/repositories/event_repository.dart
Due: flutter format

style(mobile): add padding between events cards
  apps/mobile/lib/modules/events/pages/events_page.dart
Due: flutter format

fix(mobile): app controller bind
  apps/mobile/lib/modules/app/app_module.dart
Due: flutter format

fix(mobile): app initial route
  apps/mobile/lib/modules/app/app_widget.dart
Due: flutter format

fix(mobile): app controller import in app page
  apps/mobile/lib/modules/app/app_module.dart
  apps/mobile/lib/modules/app/app_page.dart
Due: flutter format

fix(mobile): events controller auto dispose
  apps/mobile/lib/modules/app/app_module.dart
  apps/mobile/lib/modules/events/events_module.dart
Due: flutter format

fix(mobile): update to relative imports in attractions module
  apps/mobile/lib/modules/attractions/attractions_module.dart
  apps/mobile/lib/modules/attractions/controllers/attractions_controller.dart
  apps/mobile/lib/modules/attractions/pages/attractions_page.dart
  apps/mobile/lib/modules/attractions/repositories/attraction_repository.dart
Due: flutter format

fix(mobile): events controller instance in events page
  apps/mobile/lib/modules/events/events_module.dart
  apps/mobile/lib/modules/events/pages/events_page.dart
Due: flutter format

fix(mobile): attractions controller instance in attractions page
  apps/mobile/lib/modules/app/app_module.dart
  apps/mobile/lib/modules/attractions/attractions_module.dart
  apps/mobile/lib/modules/attractions/pages/attractions_page.dart
  packages/starbase/lib/components/carousel_card/carousel_card.dart
  packages/starbase/lib/components/list_card/list_card.dart
Due: flutter format

chore(mobile): firebase core
  apps/mobile/android/app/build.gradle
  apps/mobile/android/app/google-services.json
  apps/mobile/android/build.gradle
  apps/mobile/ios/Runner/GoogleService-Info.plist
  apps/mobile/ios/firebase_app_id_file.json
  apps/mobile/lib/config/firebase.dart
  apps/mobile/lib/infra/firebase/core.dart
  apps/mobile/lib/modules/core/core_module.dart
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write, flutter format

feat(mobile): start google maps component
  apps/mobile/android/app/build.gradle
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/assets/json/maps.json
  apps/mobile/lib/modules/maps/controllers/map_controller.dart
  apps/mobile/lib/modules/maps/maps_module.dart
  apps/mobile/lib/modules/maps/pages/map_page.dart
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write, flutter format

chore(mobile): change sdk version
  apps/mobile/android/app/build.gradle
Due: none

chore(mobile): add firebase messaging dependencies
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write

fix(mobile): rename firebase core file
  apps/mobile/lib/infra/firebase/firebase_core.dart
Due: flutter format

feat(mobile): create firebase cloud message
  apps/mobile/lib/infra/firebase/cloud_message/cloud_message_service.dart
Due: flutter format

chore(mobile): inject async binds to cloud message service
  apps/mobile/lib/modules/core/core_module.dart
Due: flutter format

fix(mobile): pass argument i.get() in cloud core injection
  apps/mobile/lib/modules/core/core_module.dart
Due: flutter format

feat(mobile): add dynamic map page
  apps/mobile/lib/modules/app/app_module.dart
  apps/mobile/lib/modules/maps/controllers/map_controller.dart
  apps/mobile/lib/modules/maps/maps_module.dart
  apps/mobile/lib/modules/maps/pages/map_page.dart
Due: flutter format

fix(mobile): hot reload reset current route
  apps/mobile/lib/main.dart
  apps/mobile/lib/modules/app/app_module.dart
  apps/mobile/lib/modules/app/app_widget.dart
  apps/mobile/lib/modules/app/components/app_widget.dart
  apps/mobile/lib/modules/app/controllers/app_controller.dart
  apps/mobile/lib/modules/app/controllers/app_controller.g.dart
  apps/mobile/lib/modules/app/pages/app_page.dart
  apps/mobile/lib/modules/splash/controllers/splash_controller.dart
  apps/mobile/lib/modules/splash/pages/splash_screen_page.dart
  apps/mobile/lib/modules/splash/splash_module.dart
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write, flutter format

fix(api): pass id param to get decorator
  apps/api/src/modules/attractions/attractions.controller.ts
  apps/api/src/modules/attractions/attractions.service.ts
Due: eslint --fix --cache

feat(starbase): add hero to image card
  packages/starbase/lib/components/image_card/image_card.dart
Due: flutter format

fix(mobile): move app module logic to home module
  apps/mobile/lib/modules/app/app_module.dart
  apps/mobile/lib/modules/home/controllers/home_controller.dart
  apps/mobile/lib/modules/home/controllers/home_controller.g.dart
  apps/mobile/lib/modules/home/home_module.dart
  apps/mobile/lib/modules/home/pages/home_page.dart
  apps/mobile/lib/modules/splash/controllers/splash_controller.dart
Due: flutter format

feat(mobile): create maps card component
  apps/mobile/lib/modules/maps/components/maps_component.dart
Due: flutter format

chore(mobile): pass attraction content by modular route args
  apps/mobile/lib/modules/attractions/attractions_module.dart
  apps/mobile/lib/modules/attractions/pages/attractions_page.dart
Due: flutter format

chore(mobile): create attraction controller
  apps/mobile/lib/modules/attractions/controllers/attractions_controller.dart
Due: flutter format

Path conditions:
  eslint --fix --cache: any of: *.{js,ts,tsx}
  pnpm prettier --write: any of: *.{json,yml,yaml}
  pnpm --filter @itourism/api prisma format --schema=: any of: *.prisma
  flutter format: any of: *.dart
