Repository cod3rocket/iTourism: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, pnpm prettier --write, pnpm --filter @itourism/api prisma format --schema=, flutter format

chore: add folder icon to attractions folder
  .vscode/settings.json
Due: pnpm prettier --write

chore: create not-found error
  apps/api/src/errors/not-found.error.ts
Due: eslint --fix --cache

chore: create attractions service
  apps/api/src/models/attraction.model.ts
  apps/api/src/modules/attractions/attractions.service.ts
Due: eslint --fix --cache

chore: create attractions controller
  apps/api/src/modules/attractions/attractions.controller.ts
Due: eslint --fix --cache

chore: create attractions module
  apps/api/src/modules/app/app.module.ts
  apps/api/src/modules/attractions/attractions.module.ts
Due: eslint --fix --cache

feat(api): enable versioning
  apps/api/src/main.ts
Due: eslint --fix --cache

feat(api): add rate limit
  apps/api/package.json
  apps/api/src/config/index.ts
  apps/api/src/config/throttler.config.ts
  apps/api/src/infra/throttler/throttler.module.ts
  apps/api/src/modules/app/app.module.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, pnpm prettier --write

feat(api): add cache
  apps/api/package.json
  apps/api/src/infra/cache/cache.module.ts
  apps/api/src/modules/app/app.module.ts
  apps/api/src/modules/attractions/attractions.controller.ts
  apps/api/src/modules/events/events.controller.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, pnpm prettier --write

feat(mobile): setup modular and add mobx
  apps/mobile/justfile
  apps/mobile/lib/app.dart
  apps/mobile/lib/main.dart
  apps/mobile/lib/modules/app/app_module.dart
  apps/mobile/lib/modules/app/app_widget.dart
  apps/mobile/lib/modules/home/home_controller.dart
  apps/mobile/lib/modules/home/home_controller.g.dart
  apps/mobile/lib/modules/home/home_module.dart
  apps/mobile/lib/modules/home/home_page.dart
  apps/mobile/lib/pages/home/home_page.dart
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write, flutter format

feat(starbase): add starbase package
  packages/starbase/.gitignore
  packages/starbase/.metadata
  packages/starbase/analysis_options.yaml
  packages/starbase/lib/starbase.dart
  packages/starbase/lib/styles/theme.dart
  packages/starbase/pubspec.yaml
Due: pnpm prettier --write, flutter format

feat(mobile): use starbase theme
  apps/mobile/lib/modules/app/app_widget.dart
  apps/mobile/pubspec.yaml
  apps/mobile/pubspec_overrides.yaml
Due: pnpm prettier --write, flutter format

feat(mobile): add asuka
  apps/mobile/lib/modules/app/app_widget.dart
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write, flutter format

fix(api): type for attraction model
  apps/api/src/modules/attractions/attractions.controller.ts
Due: eslint --fix --cache

fix: build pipeline
  turbo.json
Due: pnpm prettier --write

build(api): setup dockerfile
  apps/api/Dockerfile
  apps/api/justfile
  justfile
  package.json
Due: pnpm prettier --write

chore(api): folder icon for cities module
  .vscode/settings.json
Due: pnpm prettier --write

fix(api): type for attraction service
  apps/api/src/modules/attractions/attractions.service.ts
Due: eslint --fix --cache

chore(api): cities model
  apps/api/src/models/cities.model.ts
Due: eslint --fix --cache

chore(api): implement cities module
  apps/api/src/modules/app/app.module.ts
  apps/api/src/modules/cities/cities.controller.ts
  apps/api/src/modules/cities/cities.module.ts
  apps/api/src/modules/cities/cities.service.ts
Due: eslint --fix --cache

feat(mobile): setup local notification service
  apps/mobile/android/app/build.gradle
  apps/mobile/lib/infra/notifications/models/send_notificaton_dto.dart
  apps/mobile/lib/infra/notifications/notification_service.dart
  apps/mobile/lib/modules/app/app_module.dart
  apps/mobile/lib/modules/home/home_page.dart
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write, flutter format

style(mobile): change app launcher icon
  apps/mobile/android/app/src/main/1024.png
  apps/mobile/android/app/src/main/play_store_512.png
  apps/mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_adaptive_back.png
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_adaptive_fore.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_adaptive_back.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_adaptive_fore.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_adaptive_back.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_adaptive_fore.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_adaptive_back.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_adaptive_fore.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_adaptive_back.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_adaptive_fore.png
  apps/mobile/assets/images/icon.png
Due: none

style(mobile): change notification icon
  apps/mobile/android/app/src/main/res/drawable-hdpi/ic_stat_notification.png
  apps/mobile/android/app/src/main/res/drawable-mdpi/ic_stat_notification.png
  apps/mobile/android/app/src/main/res/drawable-xhdpi/ic_stat_notification.png
  apps/mobile/android/app/src/main/res/drawable-xxhdpi/ic_stat_notification.png
  apps/mobile/android/app/src/main/res/drawable-xxxhdpi/ic_stat_notification.png
  apps/mobile/assets/images/notification.png
  apps/mobile/lib/infra/notifications/notification_service.dart
Due: flutter format

chore(mobile): change app label
  apps/mobile/android/app/src/main/AndroidManifest.xml
Due: none

fix(mobile): app title
  apps/mobile/lib/modules/app/app_widget.dart
Due: flutter format

style(mobile): set dark theme as default
  apps/mobile/lib/modules/app/app_widget.dart
  packages/starbase/lib/styles/theme.dart
Due: flutter format

fix(mobile): rename notification service
  apps/mobile/lib/infra/notification/models/send_notification_model.dart
  apps/mobile/lib/infra/notification/notification_service.dart
  apps/mobile/lib/modules/app/app_module.dart
  apps/mobile/lib/modules/home/home_page.dart
Due: flutter format

chore: sort alphabetically vscode config and add cSpell words
  .vscode/settings.json
Due: pnpm prettier --write

chore: add rimraf on root of project
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore(mobile): add clean command
  apps/mobile/justfile
  apps/mobile/package.json
Due: pnpm prettier --write

feat(nestjs): add error interceptor
  packages/nestjs/lib/errors/index.ts
  packages/nestjs/lib/errors/not-found.error.ts
  packages/nestjs/lib/errors/service.error.ts
  packages/nestjs/lib/index.ts
  packages/nestjs/lib/interceptors/error.interceptor.ts
  packages/nestjs/lib/interceptors/index.ts
  packages/nestjs/package.json
  pnpm-lock.yaml
Due: eslint --fix --cache, pnpm prettier --write

feat(api): use @itourism/nestjs error interceptor
  apps/api/src/errors/not-found.error.ts
  apps/api/src/modules/app/app.interceptors.ts
  apps/api/src/modules/attractions/attractions.service.ts
Due: eslint --fix --cache

feat(starbase): add splash screen
  packages/starbase/lib/pages/splash_screen_page.dart
  packages/starbase/lib/starbase.dart
Due: flutter format

feat(mobile): setup shared_shared_preferences
  apps/mobile/lib/modules/app/app_module.dart
  apps/mobile/lib/modules/app/app_widget.dart
  apps/mobile/lib/modules/core/core_module.dart
  apps/mobile/lib/modules/home/home_controller.dart
  apps/mobile/lib/modules/home/home_page.dart
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write, flutter format

feat(mobile): start app layout
  apps/mobile/lib/modules/app/app_controller.dart
  apps/mobile/lib/modules/app/app_controller.g.dart
  apps/mobile/lib/modules/app/app_module.dart
  apps/mobile/lib/modules/app/app_page.dart
  apps/mobile/lib/modules/app/app_widget.dart
  apps/mobile/lib/modules/attractions/attractions_module.dart
  apps/mobile/lib/modules/attractions/attractions_page.dart
  apps/mobile/lib/modules/events/events_module.dart
  apps/mobile/lib/modules/events/events_page.dart
  apps/mobile/lib/modules/home/home_controller.dart
  apps/mobile/lib/modules/home/home_controller.g.dart
  apps/mobile/lib/modules/home/home_module.dart
  apps/mobile/lib/modules/home/home_page.dart
  apps/mobile/lib/modules/public_utility/public_utility_module.dart
  apps/mobile/lib/modules/public_utility/public_utility_page.dart
Due: flutter format

chore(mobile): add package for http api
  apps/mobile/package.json
  apps/mobile/pubspec.yaml
Due: pnpm prettier --write

feat(mobile): create api client service
  apps/mobile/lib/infra/api/http/api_client.dart
Due: flutter format

feat(mobile): singleton for api client
  apps/mobile/lib/modules/core/core_module.dart
Due: flutter format

fix(mobile): absolute import for api in core
  apps/mobile/lib/modules/core/core_module.dart
Due: flutter format

fix(mobile): call static method in singleton core
  apps/mobile/lib/modules/core/core_module.dart
Due: flutter format

chore: add melos in root bootstrap
  justfile
Due: none

Path conditions:
  eslint --fix --cache: any of: *.{js,ts,tsx}
  pnpm prettier --write: any of: *.{json,yml,yaml}
  pnpm --filter @itourism/api prisma format --schema=: any of: *.prisma
  flutter format: any of: *.dart
